<div class="multipleDragNdrop-inner component-inner" role="region" aria-label="{{_globals._components.multipleDragNdrop.ariaRegion}}" {{#if _globals._components.multipleDragNdrop.ariaRegion}}tabindex="0"{{/if}}>

{{> component this}}
    This file will not be used.
</div>
